
.post_detail_header {
    display: flex;
    column-gap: 10px;
    align-items: center;
    border-bottom: 1px solid #efefef;
}

.post_detail_username {
    font-weight: bold;
    font-size: 14px;
}

.post_detail_comment_container {
    border: 1px solid #dfdfdf;
    max-height: 602px;
}

.post_detail_user_comment {
    display: flex;
}

.post_detail_day {
    cursor: default;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 16px !important;
    color: #8e8e8e;
    margin-left: 70px;
    margin-top: -10px;
}

.post_detail_day_down {
    margin-left: 20px;
    margin-top: 10px;
    color: #8e8e8e;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

.post_detail_content_commnet {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    white-space: none;
    word-break: break-all;
    max-width: 222px;
    width: 100%;
    color: #262626;
}

.post_detail_list_comment {
    height: 366px;
    overflow: auto;
}

.post_detail_list_comment::-webkit-scrollbar {
    display: none;
}

.post_detail_action {
    border-top: 1px solid #efefef;
    padding: 10px 0px 20px;
}



.detail_post__commentbox {
    height: 56px;
    border: 0px;
    border-top: 1px solid #efefef;
    font-size: 14px;
    padding-left: 10px;
    outline: none;
    width: 100%;
}

.post_detail_container {
    display: flex;
    min-width: 1000px !important;
}

.post_detail_img {
    width: 100%;
    height: 598px;
}

@media (max-width: 700px) {
    .post_detail_container {
        display: block;
    }

    .post_detail_img {
        width: 100%;
    }

    .post_detail_comment_container {
        width: 100%;
    }
}

.post_detail_edit_comment {
    cursor: pointer;
    margin-left: 10px;
}
.button_add_comment {
    border: 0;
    color: #fff;
    display: inline;
    padding: 10px;
    position: relative;
    background: transparent;
    border-top: 1px solid #dbdbdb;
    font-weight: 600;
    cursor: pointer;
    width: 150px;
}

.button_add_comment:disabled {
    cursor: auto;
    opacity: 0.3;
}

.input_comment {
    border: 1px solid #f78317;
    border-radius: 20px;
    height: 2.3rem;
    width: 50rem;
    padding-left: 20px;
}
input::placeholder {
    color: #999999;
    font-style: italic;
    padding-left: 10px;
    
}
.input_comment:focus{
    border: 2px solid #f78317;
        outline: none;
}
.box_comments{
max-height: 400px;
overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 6px;

}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
.list_comments:hover{
background-color: #ffffff;
}
.list_comments_text{
    background-color: #dfdfdf;
    padding: 5px;
    max-width: 20rem;
    border-radius: 10px;
    color: #000;
    font-size: 14px;
    
}