 
.overflow-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 18px;     */
}
.fly-to-cart {
    animation: flyToCart 0.5s linear;
}

@keyframes flyToCart {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(100px, -100px);
    }
}
#chatbox {
    position: fixed;
    bottom: 60px;
      
}

